.homepage{
  .background-wrapper{
    height: 100vh;
  }
  .background-wrapper-2 {
    @include media-breakpoint-down(lg){
      display: none !important;
    }
    background: url('../images/background_2.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    padding: 4rem 0;
  }

  .home-search {
    .home-search-box {
      position: relative;
      @include media-breakpoint-down(sm) {
        i {
          left: 5% !important;
        }
        input {
          width: 100% !important;
        }
      }

      i {
        position: absolute;
        color: $primary-color;
        top: 30%;
        left: 16.5%;
      }

      input {
        width: 70%;
        border: 1px solid $primary-color;
        border-radius: 15px;
        padding: 5px 50px;

        &:focus {
          outline: 0;
        }
      }
    }
    .home-filter{
      margin-top: 2rem;
      text-align: center;
      .home-filter-text{

      }
      .form-row{
        @include justify-content(center);
        border: 1px solid #ffffff;
        width: fit-content;
        margin: auto;
        padding: 1rem 2rem;
      }
    }
  }
  .homepage-suggest{
    padding: 0;
    .suggest-background{
      margin-top: 5rem;
      height: 80vh;
      position: relative;
      &:before{
        content: '';
        background-color: #446a60;
        opacity: 0.6;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
    .header-suggest-wrap{
      position: absolute;
      top: -10%;
      padding: 0 1.5rem;
    }
    .header-suggest{
      @include flexbox();
      @include flex-direction(row);
      .card{
        margin: 0 1rem;
        .card-img-top{
          height: 250px;
        }
        .card-body{
          text-align: center;
          padding: 0.5rem 0;
          .card-text{
            text-transform: uppercase;
            color: $primary-color;
            font-weight: 400;
          }
        }
      }
    }
    .footer-suggest-wrap{
      position: absolute;
      bottom: 10%;
      padding: 0 1.5rem;
      .h5{
        margin-left: 1rem;
      }
    }
    .footer-suggest{
      @include flexbox();
      @include flex-direction(row);

      .card{
        margin: 0 1rem;
        .card-img-top{
          height: 150px;
        }
        .card-body{
          text-align: center;
          padding: 0.5rem 0;
          .card-text{
            text-transform: capitalize;
            color: $primary-color;
            font-size: 12px;
            font-weight: 400;
          }
        }
      }
    }
    .button-suggest-all{
      position: absolute;
      bottom: -2%;
      left: 45%;
      background-color: #edd6a6;
      padding: 2px 1rem;
      border-radius: 10px;
      color: $primary-color;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      &:hover{
        color: #edd6a6;
        background-color: $primary-color;
      }
    }
  }
  .house-introduction{
    margin: 2rem 0;
    .card {
      border: none;
      margin: 0 1rem;
      .card-body {
        padding: 0 0 2rem 0;
        .tour-banner {
          position: absolute;
          top: 3%;
          z-index: 1000;
          background-color: #edcf94;
          color: $primary-color;
          padding: 2px 8px;
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
          font-size: 14px !important;

          &:before {
            content: '';
            position: absolute;
            right: -9px;
            bottom: 1px;
            width: 0;
            height: 0px;
            border-left: 10px solid #edcf94;
            border-top: 11px solid transparent;
            border-bottom: 11px solid transparent;
            @include media-breakpoint-down(sm){
              bottom: 0;
            }
          }
          @include media-breakpoint-down(sm) {
            font-size: 12px !important;
            left: 2.5% !important;
          }
        }
        .card-title {
          color: $primary-color;
          text-transform: capitalize;
          font-size: 1.25rem;
          margin-top: 0.75rem;
          margin-bottom: 0.75rem;
          font-weight: 400;
          cursor: pointer;
        }

        .img-interact {
          position: relative;

          img {
            width: 100%;
            border-radius: 10px;
            height: 350px;
          }

          .heart-interact {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            padding: 5px;

            i {
              color: #ffffff;

              &:hover {
                color: $primary-color;
              }

              &:active {
                color: $primary-color;
                background-color: $primary-color;
              }
            }
          }
          .option-interact {
            position: absolute;
            top: 40%;
            right: 15px;
            i {
              color: #ffffff;
            }
          }
          /*.dropmenu-interact {
            position: absolute;
            top: 35%;
            right: 0;

            .btn {
              &:focus {
                box-shadow: none;
              }

              i {
                color: #ffffff;
              }
            }
          }*/

          .price-box {
            position: absolute;
            bottom: 0;
            right: 0;
            color: #ffffff;
            padding: 10px;
            background-color: $primary-color;
            border-bottom-right-radius: 10px;

            span {
              font-weight: bold;
            }
            @include media-breakpoint-down(sm) {
              font-size: 12px;
            }
          }
        }
        .span-id{
          span{
            font-size: 14px;
            font-weight: 300;
          }
        }
      }
    }
    .slick-prev, .slick-next{
      top: 35%;
    }
    .slick-prev{
      @include media-breakpoint-up(md){
        display: none !important;
      }
  &:before{
    color: #000;
    font-size: 2rem;
    content: '\f053';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
  }
    }
    .slick-next{
      &:before{
        font-size: 2rem;
        color: #000;
        content: '\f054';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
      }
    }
  }
}
.btn-show-all{
  padding-bottom: 2.5rem;
  border-bottom: 2px solid #000000;
}
.btn-show{
  background-color: #edd6a6;
  padding: 5px 1rem;
  border-radius: 10px;
  color: $primary-color;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  &:hover{
    text-decoration: none;
    color: #edd6a6;
    background-color: $primary-color;
  }
}
