.search-filter {
  padding: 2rem 0 2rem 0;
  .h2 {
    color: $primary-color;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 2rem;
  }
  .mobile-filter {
    .form-group {
      margin-bottom: 2rem;
    }
    label {
      color: $primary-color;
      text-transform: uppercase;
    }

    .input-group-text {
      border-color: #000000;
      border-bottom-left-radius: 15px;
      border-top-left-radius: 15px;
      background-color: transparent;
    }

    input {
      border-color: #000000;
      background-clip: unset;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      border-width: 1px 1px 1px 0;

      &:focus {
        box-shadow: none;
      }
    }

    .price-range-mobile {
      background: transparent;
      border-radius: 0;
      border-width: 0 0 1px 0;
      text-align-last: center;

      &:focus {
        box-shadow: none;
      }
    }

    .btn {
      color: #ffffff;
      border-radius: 15px;
      padding: 0 20px;
      background-color: $primary-color;
      border-color: $primary-color;
      color: #ffffff;
    }
  }

  form {
    .row{
      margin-right: 0;
      margin-left: 0;
    }
    .form-control-wrap{
      position: relative;
      &:after{
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f078";
        font-size: 1rem;
        top: 7px;
        right: 10px;
        position: absolute;
        color: #000000;
        z-index: -1;
      }
    }
    .form-group {
      label {
        font-size: 16px;
        font-style: italic;
        font-weight: 400;
      }

      select {
        font-style: italic;
        color: #000000;
        font-weight: 400;

        &:focus {
          box-shadow: none;
        }
      }
      .ui-slider-horizontal{
        height: .2em;
      }
      .ui-widget-content{
      }
      .ui-slider .ui-slider-handle{
        font-size: 0.6rem;

      }
      .ui-slider-horizontal .ui-slider-handle{
        top: -.6em;
      }
      .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
        background: $primary-color;
        border-radius: 50%;
        border: none;
      }
      .ui-widget-header{
        background: $primary-color;
      }
      .ui-slider-handle:focus{
        outline: none;
      }
      .form-control{
        border-color: $primary-color;
        -webkit-appearance: none;
        appearance: none;
        padding: 0 2rem 0 10px;
        background-color: transparent;
      }
    }

    button {
      color: #ffffff;
      background-color: $primary-color;
      border-radius: 15px;
      border-color: $primary-color;
      padding: 0 20px;
      font-weight: 300;
      text-transform: uppercase;

      &:hover {
        background-color: #2a5447;
        border-color: #2a5447;
        color: #ffffff;
      }

      &:focus {
        background-color: #2a5447;
        border-color: #2a5447;
        color: #ffffff;
        box-shadow: none;
      }
    }
  }
}

.search-result-wrapper{
}
.search-result {
  @include flexbox();
  @include media-breakpoint-down(lg){
    @include flex-direction(column);
    .search-map{
      width: 100% !important;
    }
    .result{
      width: 100% !important;
      margin-left: 0;
    }
  }
  .search-map {
    width: 50%;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    #map {
      position: sticky !important;
      top: 0;
      height: 100vh;
      /* The height is 400 pixels */
      width: 100%;
      /* The width is the width of the web page */
    }
  }

  .result {
    width: 50%;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    .filter-searching{
      .form-control{
        border-radius: 8px;
      }
    }

    .list-group-result {
      padding: 0 1rem;
      margin-bottom: 1rem;

      /*      .list-group-item:nth-child(4) {
        .card-body {
          border-bottom: none !important;
        }
      }*/

      .list-group-item {
        border: none;
        padding: 0 0;

        @include media-breakpoint-up(md) {
          @include flexbox();
          @include justify-content(space-between);
          border-bottom: 1px solid #000000;
          &:nth-last-child(1) {
            border-bottom: none !important;
          }
        }

        .card {
          border: none;
          @include media-breakpoint-up(md) {
            width: 48%;
          }
          .card-body {
            padding: 1rem 0 2rem 0;

            .card-title {
              color: $primary-color;
              text-transform: capitalize;
              font-size: 1.25rem;
              margin-bottom: 0.75rem;
              font-weight: 400;
              cursor: pointer;
            }

            .card-info {
              span {
                display: inline-block;
              }
            }

            .img-interact {
              position: relative;

              img {
                width: 100%;
                border-radius: 10px;
              }

              .heart-interact {
                position: absolute;
                top: 0.5rem;
                right: 0.5rem;
                padding: 5px;

                i {
                  color: #ffffff;

                  &:hover {
                    color: $primary-color;
                  }

                  &:active {
                    color: $primary-color;
                    background-color: $primary-color;
                  }
                }
              }
              .option-interact {
                position: absolute;
                top: 40%;
                right: 15px;
                i {
                  color: #ffffff;
                }
              }
              /*.dropmenu-interact {
                position: absolute;
                top: 35%;
                right: 0;

                .btn {
                  &:focus {
                    box-shadow: none;
                  }

                  i {
                    color: #ffffff;
                  }
                }
              }*/

              .price-box {
                position: absolute;
                bottom: 0;
                right: 0;
                color: #ffffff;
                padding: 10px;
                background-color: $primary-color;
                border-bottom-right-radius: 10px;

                span {
                  font-weight: bold;
                }
                @include media-breakpoint-down(sm) {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
    .load-more {
      text-align: center;
      padding: 10px;
      margin: 0 0 1rem 0;
      a {
        color: #ffffff;
        background-color: $primary-color;
        padding: 5px 20px;
        border-radius: 15px;
        text-decoration: none;
        &:hover {
          background-color: #2a5447;
        }
      }
      @include media-breakpoint-down(sm) {
        margin-top: 15px;
      }
    }
  }
}
.btn-switch {
  @include media-breakpoint-down(md){
    left: 47% !important;
  }
  @include media-breakpoint-down(sm){
    left: 42% !important;
  }
  position: fixed;
  bottom: 5%;
  box-shadow: 0px 1px 2px 0px;
  background-color: #ffffff;
  border: none;
  padding: 5px 10px;
}
