/* ==========================================================================
Content
========================================================================== */
.app-loading {
  display: none;
}
html{
  font-family: SVN-Gotham;
}
.main{
  @include media-breakpoint-down(sm){
    background-color: $primary-color;
  }
}
